@{ ViewBag.Title = "About"; }
<h2></h2>
<h3>@ViewBag.Message</h3>

<p>
    <h1 class="vtex-rich-text-0-x-heading vtex-rich-text-0-x-heading--statics-title t-heading-1 vtex-rich-text-0-x-headingLevel1
        vtex-rich-text-0-x-headingLevel1--statics-title vtex-rich-text-0-x-heading-level-1">
        ¿QUIÉNES SOMOS?
    </h1>
</p>


<h2>ESPECIALISTAS EN TECNOLOGÍA Y ELECTRÓNICA</h2>

<h2>Visión</h2>

<h2>
    Ser el distribuidor líder en ventas de productos y servicios de vanguardia tecnológica, en cada mercado de América Latina donde estemos.
    Un distribuidor reconocido por su compromiso con la excelencia y la generación de valor.
</h2>

<h2>Nuestra mirada está en</h2>
<h2>Ser líderes en el retail omnicanal especializado en tecnología y electrónica de consumo en el Perú.</h2>

<h2>Nuestros esfuerzos diarios buscan</h2>
<h2>Ofrecer variedad, calidad y garantía en productos con una experiencia de compra que nos defina como expertos, todo eso al mejor precio.</h2>

<h2>La tecnología es nuestro ADN.</h2>
<h2>Es nuestra pasión. Todo lo que vendemos crea nexos con nuestros clientes, brindándoles las mejores soluciones tecnológicas para su día a día.</h2>

<h2>Audífonos y parlantes Bluetooth</h2>
<h2>Lo que se necesite escuchar tendrá la mejor fidelidad y potencia: para bailar, para acompañar tu día, para trabajar, para hacer deporte, para todo.</h2>

<h2>Teléfonos Celulares y accesorios</h2>
<h2>Le damos importancia a la comunicación entre las personas. Y la facilitamos.</h2>

<h2>Videojuegos, consolas y accesorios</h2>
<h2>La tecnología y nosotros estamos al servicio de tu entretenimiento.</h2>

<h2>Cables de Audio y Video</h2>
<h2>Tenemos la mayor variedad de cables del mercado, porque nuestras necesidades de conexión son infinitas y nuestras soluciones, las mejores.</h2>

<h2>Accesorios de cómputo</h2>
<h2>Ofrecemos todo lo que sume y se adapte a la funcionalidad y comodidad de tu computadora.</h2>

<h2>Tablets y accesorios</h2>
<h2>Tenemos la mejor gama de tablets, junto a todo lo necesario para complementarlas y potenciarlas.</h2>

<h2>Misión</h2>

<h2>
    Ofrecer a nuestros clientes una experiencia de compra inolvidable y positiva en soluciones de tecnología,
    basada en el conocimiento, el servicio y la capacitación; generando así valor agregado para clientes, colaboradores y socios.
</h2>

<h2>¡Ayúdanos a transformar vidas!</h2>
