@{ ViewBag.Title = "Contact"; }
<h2></h2>
<h3>@ViewBag.Message</h3>

<h5> </h5>

<h1 data-content-type="heading" data-appearance="default" data-element="main" style="text-align: center; border-style: none; border-width: 1px; border-radius:      0px; margin-bottom: 40px;">¡Contáctanos!</h1>
<address>
    <abbr title="Celular"></abbr>
    <i class="fas fa-phone"></i> 964512562
</address>

<h4><i class="far fa-clock"></i>Horario de atención: Lunes a Viernes de 9:30am - 7pm y los sábados de 9:30am a 2:00pm</h4>
<div class="icon icon-ish-in-horario" style="font-size: 7px;color: #fa8b0f;float: left;position:relative;top: 3px;margin-right: 4px;">&nbsp;</div>
<script src="https://kit.fontawesome.com/15754d9d10.js" crossorigin="anonymous"></script>

<address>
    <strong>Servicio al cliente:</strong>   <a href="mailto:Support@example.com">PaparazziSoporte@gmail.com</a><br />


</address>
