@{ ViewBag.Title = "Home Page"; }

<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<body>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide1.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>TECNOLOGIA</p>
                    <h2>COMPUTADORAS</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide2.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>ENVUELVE TUS SENTIDOS</p>
                    <h2>AUDIFONOS GAMER</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>DESPIERTA TU PASION</p>
                    <h2>PC GAMER</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide4.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>DEJATE LLEVAR</p>
                    <h2> TECLADO GAMER</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide5.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>OBSERVA HASTA LO IMPOSIBLE</p>
                    <h2>TARJETA GRAFICA</h2>
                </header>
            </div>
        </article>
    </section>
    <!-- fin baner -->
    <!-- primera seccion one -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/01.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestros productos</p>
                                <h2>MEJORES EN PRECIO Y CALIDAD</h2>
                            </header>
                            <p>la variedad, precio y calidad de nuestros productos nos respaldan en los diferentes articulos que ofrecemos a su disposicion, ven y compruebalo tu mismo .</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">enterate mas</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/02.jpg" alt="" width="50" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestro personal</p>
                                <h2>PREPARADOS Y A SU DISPOSICION</h2>
                            </header>
                            <p>Contamos con personal capacitado a su disposicion para consultas y asesoria a la hora de su compra</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">enterate mas</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- segunda seccion two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Contamos con los estandares de Bioseguridad</p>
                <h2>sientete seguro en todo momento</h2>
            </header>
        </div>
    </section>

    <!-- tercera seccion three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                p class="special">No lo esperes mas y ven</p>
                <h2>A COMPARAR NUESTROS PRECIOS Y CALIDAD</h2>
            </header>

        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Paparazi Team. All rights reserved.
        </div>
    </footer>
</body>
</html>